#header{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: grey ;
}
#text{
    color: lightgoldenrodyellow;
}

#royalEmblem{
    top: 0px;
    float: left;
    position: absolute;
    width: 175px;
}
#detailsNodderCo{
    text-align: justify;
    font-family: 'Playfair Display', serif;
    margin-top: 101px;
    color: 	#FFD700;
}




body{
    background-image: url("Images/Neptune_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
}




.hidden{
    display:none;
}

